* {
	font-family: "Mulish", sans-serif;
	font-weight: 500;
	line-height: 1.6;
	color: #282828;
}

body {
	background: #fcfaf6;
	display: flex;
	flex-direction: column;
	block-size: 100svh;
	overflow: hidden;
}

.main-container {
	display: flex;
	flex-direction: column;
	block-size: 100svh;
	overflow-y: auto;
}

a {
	color: #1da1f2;
	text-decoration: none;
}

:link {
	color: #1da1f2;
}

:visited {
	color: #551a8b;
}

:link:active,
:visited:active {
	color: #ff0000;
}

::selection {
	background: #333;
	color: #fff;
}

.Story.Rejection--width2 {
	inline-size: 600px;
}

.app-container {
	padding-block-start: 32px;
	padding-block-end: 16px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	column-gap: 24px;

	justify-content: center;
}

.app-header {
	flex-shrink: 0;
	background: white;
	border-block-end: 4px solid #282828;
	text-align: center;
}

.app-footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-shrink: 0;
	background: white;
	padding-inline: 24px;
	border-block-start: 2px solid #282828;
	font-size: 12px;
	color: #666570;
}

.story {
	/* border: 7px solid #5b5b5b; */
	box-sizing: border-box;
	border-radius: 24px;
	padding: 24px;
	margin-inline: 12px;
	inline-size: 400px;
	content-visibility: auto;
	text-wrap: pretty;
	block-size: max-content;
}

.story-header {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.story-header-image {
	display: flex;
	flex-shrink: 0;
	inline-size: 72px;
	block-size: 72px;
	border-radius: 50%;
	overflow: hidden;
}

.story-header-image .story-image {
	max-inline-size: 100%;
	max-block-size: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

.story-header-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.story-fullname {
	font-size: 1rem;
	font-weight: 600;
}

.story-bio-container {
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	row-gap: 2px;
	flex-wrap: wrap;
}

.story-bio {
	font-size: 12px;
}

.story-desc {
	font-family: "Comic Neue", cursive;
	font-weight: 500;
	line-height: 1.5;
	margin-block-start: 12px;
	margin-block-end: 0;
	margin-inline: 0;
	font-weight: 500;
}

.story-desc:first-letter {
	font-size: 2em;
}

.story-desc:first-line {
	font-weight: bold;
}
